$navbar-color: #fff;
$navbar-bg-color: $ndd-ng-theme-primary-color;
$navbar-bg-color-retreat: $ndd-ng-theme-primary-color - 10 !default;
$navbar-height: 40px;
$navbar-height-small: 40px;
$navbar-border-width: 0;
