<div class="feature-view-tab__content">
    <div class="row">
        <!-- #region Coluna 1 -->
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-12">
                    <span class="feature-view__title">DADOS CADASTRAIS</span>
                </div>
            </div>
            <div class="row feature-view__group">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-6 feature-view__body">
                            <div>
                                <span class="feature-view__label">Razão Social</span>
                            </div>
                            <div class="truncate">
                                <span title="{{ destinatario?.nomeRazaoSocial }}" class="feature-view__value">
                                    {{ destinatario?.nomeRazaoSocial }}
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-6 feature-view__body">
                            <div>
                                <span class="feature-view__label">Documento</span>
                            </div>
                            <div class="truncate">
                                <span title="{{ destinatario?.documentoNumero }}" class="feature-view__value">
                                    {{ destinatario?.documentoNumero }}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 feature-view__body">
                            <div>
                                <span class="feature-view__label">Inscrição Estadual</span>
                            </div>
                            <div class="truncate">
                                <span title="{{ destinatario?.inscricaoEstadual }}" class="feature-view__value">
                                    {{ destinatario?.inscricaoEstadual }}
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-6 feature-view__body">
                            <div>
                                <span class="feature-view__label">Tipo</span>
                            </div>
                            <div class="truncate">
                                <span title="{{ destinatario?.documentoTipo }}" class="feature-view__value">
                                    {{ destinatario?.documentoTipo }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #endregion -->

        <!-- #region Coluna 2 -->
        <ndd-endereco-detalhes></ndd-endereco-detalhes>
        <!-- #endregion -->
    </div>
    <div class="feature-view-tab__footer">
        <button class="ndd-ng-button ndd-ng-button--primary" (click)="onEdit()">Editar</button>
        <button class="ndd-ng-button ndd-ng-button--cancel" (click)="redirect()">Voltar</button>
    </div>
    <div class="ndd-ng-spinner__spinner" *ngIf="isLoading"></div>
    <div class="ndd-ng-spinner__color" *ngIf="isLoading"></div>
</div>
