<div class="feature-view-tab__content">
    <div class="row">
        <!-- #region Coluna 1 -->
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-12">
                    <span class="feature-view__title">DADOS CADASTRAIS</span>
                </div>
            </div>
            <div class="row feature-view__group">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-6 feature-view__body">
                            <div>
                                <span class="feature-view__label">Nome</span>
                            </div>
                            <div class="truncate">
                                <span title="{{ product?.name }}" class="feature-view__value">
                                    {{ product?.name }}
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-6 feature-view__body">
                            <div>
                                <span class="feature-view__label">Disponibilidade</span>
                            </div>
                            <div class="truncate">
                                <span title="{{ availabilityText }}" class="feature-view__value">
                                    {{ availabilityText }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <span class="feature-view__title">INFORMAÇÕES FINANCEIRAS</span>
                </div>
            </div>
            <div class="row feature-view__group">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-6 feature-view__body">
                            <div>
                                <span class="feature-view__label">Preço de Custo</span>
                            </div>
                            <div class="truncate">
                                <span title="{{ product?.expense }}" class="feature-view__value">
                                    {{ product?.expense | currency:'BRL':'symbol' }}
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-6 feature-view__body">
                            <div>
                                <span class="feature-view__label">Preço de Venda</span>
                            </div>
                            <div class="truncate">
                                <span title="{{ product?.sale }}" class="feature-view__value">
                                    {{ product?.sale | currency:'BRL':'symbol' }}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 feature-view__body">
                            <div>
                                <span class="feature-view__label">Resultado</span>
                            </div>
                            <div class="truncate">
                                <span title="{{ productProfit }}" class="feature-view__value">
                                    {{ productProfit | currency:'BRL':'symbol' }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #endregion -->

        <!-- #region Coluna 2 -->
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-12">
                    <span class="feature-view__title">PRAZOS</span>
                </div>
            </div>
            <div class="row feature-view__group">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-6 feature-view__body">
                            <div>
                                <span class="feature-view__label">Data de Fabricação</span>
                            </div>
                            <div class="truncate">
                                <span title="{{ product?.manufacture }}" class="feature-view__value">
                                    {{ product?.manufacture | date:'short' }}
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-6 feature-view__body">
                            <div>
                                <span class="feature-view__label">Data de Validade</span>
                            </div>
                            <div class="truncate">
                                <span title="{{ product?.expiration }}" class="feature-view__value">
                                    {{ product?.expiration | date:'short' }}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 feature-view__body">
                            <div>
                                <span class="feature-view__label">Período de Validade</span>
                            </div>
                            <div class="truncate">
                                <span title="{{ productValidateDate }}" class="feature-view__value">
                                    {{ productValidateDate }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #endregion -->
    </div>
    <div class="feature-view-tab__footer">
        <button class="ndd-ng-button ndd-ng-button--primary" (click)="onEdit()">Editar</button>
        <button class="ndd-ng-button ndd-ng-button--cancel" (click)="redirect()">Voltar</button>
    </div>
    <div class="ndd-ng-spinner__spinner" *ngIf="isLoading"></div>
    <div class="ndd-ng-spinner__color" *ngIf="isLoading"></div>
</div>
