save-prefix=~
registry=http://npm/
@types:registry=https://registry.npmjs.org/
@angular:registry=https://registry.npmjs.org/
@ngx-loading-bar:registry=https://registry.npmjs.org/
@progress:registry=https://registry.npmjs.org/
@telerik:registry=http://registry.npmjs.org/
