<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Chaves para autenticação da aplicação no Twitter -->
    <add key="ConsumerKey" value="" />
    <add key="ConsumerSecret" value="" />
    
    <add key="AccessToken" value="" />
    <add key="AccessTokenSecret" value="" />
    
    <!-- DataProvider. Somente usado em ADO.NET. As opções são: System.Data.OleDb, System.Data.SqlClient, or System.Data.OracleClient. -->
    <add key="DataProvider" value="System.Data.SqlClient" />
    <!-- ConnectionName. O nome da string de conexão.-->
    <add key="ConnectionStringName" value="NDDTwitterDbTestContext" />
  </appSettings>
  <connectionStrings>
    <add name="NDDTwitterDbTestContext" connectionString="Data Source=(localdb)\mssqllocaldb;Initial Catalog=NDDTwitterDbTestContext; Integrated Security=True; MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.1" newVersion="4.1.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>