$ndd-ng-form-bottom-height: 65px !default;
$ndd-ng-form-error-color: #ff4733 !default;
$ndd-ng-form-success-color: #45a900 !default;
$ndd-ng-form-border-color: #d4d4d4 !default;
$ndd-ng-form-bg-color: #fff !default;
$ndd-ng-form-bg-disabled-color: #e9e9e1 !default;
$ndd-ng-form-focus-border-color: #9ecaed !default;
