$ndd-ng-button-primary-color: $ndd-ng-theme-primary-color !default;
$ndd-ng-button-primary-hover-color: $ndd-ng-theme-primary-color - 10 !default;
$ndd-ng-button-primary-active-color: $ndd-ng-theme-primary-color + 10 !default;
$ndd-ng-button-primary-font-color: #fff !default;

/**/

$ndd-ng-button-secondary-color: #fff!default;
$ndd-ng-button-secondary-font-color: #337ab7 !default;
$ndd-ng-button-cancel-font-color: #666 !default;
