save-prefix=~
registry=http://npm/
@types:registry=https://registry.npmjs.org/
@angular:registry=https://registry.npmjs.org/
@progress:registry=https://registry.npmjs.org/
@telerik:registry=http://registry.npmjs.org/
@angular-devkit:registry=http://registry.npmjs.org/
@ultimate:registry=http://registry.npmjs.org/
@webassemblyjs:registry=http://registry.npmjs.org/
