.pizza-viewer {
  width: 530px;
  position: relative;
  &__table-side,
  &__table {
    width: 1110px;
    transform: skewX(62deg);
    position: absolute;
    left: 310px;
    height: 1100px;
    z-index: 0;
  }
  &__table-side {
    background: #2E3744;
    top: 380px;
    width: 1885px;
    left: -500px;
  }
  &__table {
    background: #3A424F;
    top: 0;
  }
  &__pizza {
    width: 530px;
    height: 342px;
    position: absolute;
    z-index: 1;
    transform: translate3d(-530px, -282px, 0);
    transition: transform 0.2s;
    &--active {
      transform: translate3d(0, -30px, 0);
    }
    &__board {
      background: url(shared/images/board.svg) no-repeat 0 20px;
      background-size: contain;
      width: 500px;
      height: 342px;
      position: absolute;
      z-index: 1;
      top: 30px;
      left: 30px;
    }
    &__base {
      background: url(shared/images/base.svg) no-repeat;
      background-size: contain;
      width: 390px;
      height: 322px;
      position: absolute;
      right: 23px;
      top: 30px;
      z-index: 2;
    }
    &__toppings {
      width: 352px;
      height: 190px;
      position: absolute;
      right: 42px;
      top: 46px;
      z-index: 3;
    }
  }
}
