<form (ngSubmit)="onSubmit($event)" [formGroup]="formModel">
    <div class="form__container">
        <div class="row form__fieldset" >
            <div class="col-md-5" formGroupName="notaFiscal">
                <div class="col-sm-12 form__group">
                    <span>Dados Cadastrais</span>
                </div>

                <div class="col-md-5">
                    <label>
                        <span class="form__label" [ngClass]="{'form__error': encontrarErro('notaFiscal','transportadorId')}">Transportador</span>
                        <span class="form__label required" [ngClass]="{'form__error': encontrarErro('notaFiscal','transportadorId')}">*</span>
                    </label>
                    <div>
                        <kendo-dropdownlist
                            class="form__input__dropdown"
                            [defaultItem]="defaultTransportador"
                            [data]="dataTransportadores"
                            [textField]="'nomeRazaoSocial'"
                            [valueField]="'id'"
                            [filterable]="true"
                            (filterChange)="onFilterTransportador($event)"
                            (selectionChange)="selecionarTransportador($event)"
                            required>
                        </kendo-dropdownlist>
                    </div>
                    <span class="form__label" *ngIf="encontrarErro('notaFiscal','transportadorId')" class="form__error form__label">
                        CAMPO OBRIGATÓRIO
                    </span>
                </div>

                <div class="col-md-5">
                    <label>
                        <span class="form__label" [ngClass]="{'form__error': encontrarErro('notaFiscal','destinatarioId')}">Destinatário</span>
                        <span class="form__label required" [ngClass]="{'form__error': encontrarErro('notaFiscal','destinatarioId')}">*</span>
                    </label>
                    <div>
                        <kendo-dropdownlist
                            class="form__input__dropdown"
                            [defaultItem]="defaultDestinatario"
                            [data]="dataDestinatarios"
                            [textField]="'nomeRazaoSocial'"
                            [valueField]="'id'"
                            [filterable]="true"
                            (filterChange)="onFilterDestinatario($event)"
                            (selectionChange)="selecionarDestinatario($event)">
                        </kendo-dropdownlist>
                    </div>
                    <span class="form__label" *ngIf="encontrarErro('notaFiscal','destinatarioId')" class="form__error form__label">
                        CAMPO OBRIGATÓRIO
                    </span>
                </div>

                <div class="col-md-5">
                    <label>
                        <span class="form__label" [ngClass]="{'form__error': encontrarErro('notaFiscal','emitenteId')}">Emitente</span>
                        <span class="form__label required" [ngClass]="{'form__error': encontrarErro('notaFiscal','emitenteId')}">*</span>
                    </label>
                    <div>
                        <kendo-dropdownlist   
                            class="form__input__dropdown"
                            [defaultItem]="defaultEmitente"
                            [data]="dataEmitentes"
                            [textField]="'razaoSocial'"
                            [valueField]="'id'"
                            [filterable]="true"
                            (filterChange)="onFilterEmitente($event)"
                            (selectionChange)="selecionarEmitente($event)">
                        </kendo-dropdownlist>
                    </div>
                    <span class="form__label" *ngIf="encontrarErro('notaFiscal','emitenteId')" class="form__error form__label">
                        CAMPO OBRIGATÓRIO
                    </span>
                </div>

                <div class="col-md-5">
                    <label>
                        <span class="form__label" [ngClass]="{'form__error': encontrarErro('notaFiscal','naturezaOperacao')}">Natureza da Operação</span>
                        <span class="form__label required" [ngClass]="{'form__error': encontrarErro('notaFiscal','naturezaOperacao')}">*</span>
                    </label>
                    <div>
                        <input autocomplete="off" class="form__input" [ngClass]="{'form__error': encontrarErro('notaFiscal','naturezaOperacao')}"
                            formControlName="naturezaOperacao" type="text" placeholder="Insira a natureza da operação da nota fiscal">
                    </div>
                    <span class="form__label" *ngIf="encontrarErro('notaFiscal','naturezaOperacao')" class="form__error form__label">
                        CAMPO OBRIGATÓRIO
                    </span>
                </div>

                <div class="col-md-5">
                    <label>
                        <span class="form__label" [ngClass]="{'form__error': encontrarErro('notaFiscal','dataEntrada')}">Data Entrada</span>
                        <span class="form__label required" [ngClass]="{'form__error': encontrarErro('notaFiscal','dataEntrada')}">*</span>
                    </label>

                    <div>
                        <kendo-datepicker
                            class="form__input__datepicker" 
                            formControlName="dataEntrada"
                            [ngClass]="{'form__error': encontrarErro('notaFiscal','dataEntrada')}"
                            [format]="'yyyy-MM-dd'">
                        </kendo-datepicker>
                    </div>
                    
                    <span class="form__label" *ngIf="encontrarErro('notaFiscal','dataEntrada')" class="form__error form__label">
                        CAMPO OBRIGATÓRIO
                    </span>
                </div>

                <div class="col-md-5">
                    <label>
                        <span class="form__label" [ngClass]="{'form__error': encontrarErro('notaFiscal','dataEmissao')}">Data Emissão</span>
                        <span class="form__label required" [ngClass]="{'form__error': encontrarErro('notaFiscal','dataEmissao')}">*</span>
                    </label>

                    <div>
                        <kendo-datepicker
                            class="form__input__datepicker" 
                            formControlName="dataEmissao"
                            [ngClass]="{'form__error': encontrarErro('notaFiscal','dataEmissao')}"
                            [format]="'yyyy-MM-dd'">
                        </kendo-datepicker>
                    </div>
                    
                    <span class="form__label" *ngIf="encontrarErro('notaFiscal','dataEmissao')" class="form__error form__label">
                        CAMPO OBRIGATÓRIO
                    </span>
                </div>

                <div class="col-md-5">
                    <label>
                        <span class="form__label" [ngClass]="{'form__error': encontrarErro('notaFiscal','valorTotalFrete')}">Valor Total Frete</span>
                        <span class="form__label required" [ngClass]="{'form__error': encontrarErro('notaFiscal','valorTotalFrete')}">*</span>
                    </label>

                    <div>
                        <input autocomplete="off" class="form__input" [ngClass]="{'form__error': encontrarErro('notaFiscal','valorTotalFrete')}"
                            formControlName="valorTotalFrete" type="number" min="0" placeholder="Insira o valor do frete da nota fiscal">
                    </div>
                    
                    <span class="form__label" *ngIf="encontrarErro('notaFiscal','valorTotalFrete')" class="form__error form__label">
                        CAMPO OBRIGATÓRIO
                    </span>
                </div>
            </div>
            <div class="col-md-7">
                <ndd-nota-produtos-form [formModel]="formModel.get('produtos')"></ndd-nota-produtos-form>
            </div>
        </div>
    </div>
    <div class="feature-view-tab__footer">
        <button class="ndd-ng-button ndd-ng-button--primary" type="submit" [disabled]="formModel.invalid">
            Enviar
        </button>
        <button class="ndd-ng-button ndd-ng-button--cancel" (click)="redirect()">
            Voltar
        </button>
    </div>
</form>