<div class="feature-view-tab__content">
    <div class="row">
        <!-- #region Coluna 1 -->
        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm-12">
                    <span class="feature-view__title">DADOS CADASTRAIS</span>
                </div>
            </div>
            <div class="row feature-view__group">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-6 feature-view__body">
                            <div>
                                <span class="feature-view__label">Transportador</span>
                            </div>
                            <div class="truncate">
                                <span title="{{ notaFiscal?.transportador.nomeRazaoSocial }}" class="feature-view__value">
                                    {{ notaFiscal?.transportador.nomeRazaoSocial }}
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-6 feature-view__body">
                            <div>
                                <span class="feature-view__label">Natureza Operação</span>
                            </div>
                            <div class="truncate">
                                <span title="{{ notaFiscal?.naturezaOperacao }}" class="feature-view__value">
                                    {{ notaFiscal?.naturezaOperacao }}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 feature-view__body">
                            <div>
                                <span class="feature-view__label">Destinatário</span>
                            </div>
                            <div class="truncate">
                                <span title="{{ notaFiscal?.destinatario.nomeRazaoSocial }}" class="feature-view__value">
                                    {{ notaFiscal?.destinatario.nomeRazaoSocial }}
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-6 feature-view__body">
                            <div>
                                <span class="feature-view__label">Data Entrada</span>
                            </div>
                            <div class="truncate">
                                <span title="{{ notaFiscal?.dataEntrada }}" class="feature-view__value">
                                    {{ notaFiscal?.dataEntrada | date:'short' }}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 feature-view__body">
                            <div>
                                <span class="feature-view__label">Emitente</span>
                            </div>
                            <div class="truncate">
                                <span title="{{ notaFiscal?.emitente.razaoSocial }}" class="feature-view__value">
                                    {{ notaFiscal?.emitente.razaoSocial }}
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-6 feature-view__body">
                            <div>
                                <span class="feature-view__label">Data Emissão</span>
                            </div>
                            <div class="truncate">
                                <span title="{{ notaFiscal?.dataEmissao }}" class="feature-view__value">
                                    {{ notaFiscal?.dataEmissao | date:'short' }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #endregion -->

        <!-- #region Coluna 2 -->
        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm-12">
                    <span class="feature-view__title">PRODUTOS</span>
                </div>
            </div>
            <div class="row feature-view__group">
                <div class="col-sm-12">
                    <div class="row">
                        <kendo-grid
                            [style.height]="'100%'"
                            [data]="produtos">

                            <kendo-grid-column field="produto.descricao" title="Descrição" width="20"></kendo-grid-column>
                            <kendo-grid-column field="produto.valor" title="Valor" width="20"></kendo-grid-column>
                            <kendo-grid-column field="quantidade" title="Quantidade" width="20"></kendo-grid-column>
                        </kendo-grid>
                    </div>
                </div>
            </div>
        </div>
        <!-- #endregion -->

        <!-- #region Coluna 3 -->
        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm-12">
                    <span class="feature-view__title">VALORES</span>
                </div>
            </div>
            <div class="row feature-view__group">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-6 feature-view__body">
                            <div>
                                <span class="feature-view__label">ICMS</span>
                            </div>
                            <div class="truncate">
                                <span title="{{ notaFiscal?.valor }}" class="feature-view__value">
                                    {{ notaFiscal?.valorTotalICMS | currency:'BRL' }}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 feature-view__body">
                            <div>
                                <span class="feature-view__label">IPI</span>
                            </div>
                            <div class="truncate">
                                <span title="{{ notaFiscal?.valorTotalIPI }}" class="feature-view__value">
                                    {{ notaFiscal?.valorTotalIPI | currency:'BRL' }}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 feature-view__body">
                            <div>
                                <span class="feature-view__label">Total Produtos</span>
                            </div>
                            <div class="truncate">
                                <span title="{{ notaFiscal?.valorTotalProdutos }}" class="feature-view__value">
                                    {{ notaFiscal?.valorTotalProdutos | currency:'BRL' }}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 feature-view__body">
                            <div>
                                <span class="feature-view__label">Frete</span>
                            </div>
                            <div class="truncate">
                                <span title="{{ notaFiscal?.valorTotalFrete }}" class="feature-view__value">
                                    {{ notaFiscal?.valorTotalFrete | currency:'BRL' }}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 feature-view__body">
                            <div>
                                <span class="feature-view__label">Impostos</span>
                            </div>
                            <div class="truncate">
                                <span title="{{ notaFiscal?.valorTotalImpostos }}" class="feature-view__value">
                                    {{ notaFiscal?.valorTotalImpostos | currency:'BRL' }}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 feature-view__body">
                            <div>
                                <span class="feature-view__label">Valor Total Nota</span>
                            </div>
                            <div class="truncate">
                                <span title="{{ notaFiscal?.valorTotalNota }}" class="feature-view__value">
                                    {{ notaFiscal?.valorTotalNota | currency:'BRL' }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #endregion -->
    </div>
    <div class="feature-view-tab__footer">
        <button class="ndd-ng-button ndd-ng-button--primary" (click)="onEdit()">Editar</button>
        <button class="ndd-ng-button ndd-ng-button--cancel" (click)="redirect()">Voltar</button>
    </div>
    <div class="ndd-ng-spinner__spinner" *ngIf="isLoading"></div>
    <div class="ndd-ng-spinner__color" *ngIf="isLoading"></div>
</div>
