<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- DataProvider. Somente usado em ADO.NET. As opções são: System.Data.OleDb, System.Data.SqlClient, or System.Data.OracleClient. -->
    <add key="DataProvider" value="System.Data.SqlClient" />
    <!-- ConnectionName. O nome da string de conexão.-->
    <add key="ConnectionStringName" value="NDDTwitterDbTestContext" />
  </appSettings>
  <connectionStrings>
    <add name="NDDTwitterDbTestContext" connectionString="Data Source=(localdb)\mssqllocaldb;Initial Catalog=NDDTwitterDbTestContext; Integrated Security=True; MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>