<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ConnectionStringName" value="Testes" />
    <add key="DataProvider" value="System.Data.SqlClient" />

    <!--<add key="DataProvider" value="MySql.Data.MySqlClient" />-->
  </appSettings>

  <connectionStrings>
    <add name="Testes" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=DBGeradorTestes;Integrated Security=True;Pooling=False" providerName="System.Data.SqlClient"/>

    <!--<add name="Testes" connectionString="Server=localhost;Port=3306;Database=DBGeradorTestes;Uid=ndduser;Pwd=P@ssw0rd;"  />-->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
