<div class="grid-wrapper">
        <kendo-grid [style.height]="'100%'"
        [data]="gridService | async" 
        [loading]="gridService.loading" 
        [pageSize]="state.take" 
        [skip]="state.skip" 
        [sort]="state.sort"
        [sortable]="true" 
        [pageable]="true" 
        [scrollable]="'none'" 
        [selectable]="selectableSettings"
        (dataStateChange)="dataStateChange($event)"
        (selectionChange)="onSelectionChange($event)">

        <ng-template kendoGridToolbarTemplate position="top">
                <div class="pkg-manager-grid__action-container">
                    <button (click)="adicionarEmitente()" class="pkg-manager-grid__action">
                        <i class="ndd-font ndd-font-create pkg-manager-grid__action__icon"></i>
                        <span class="pkg-manager-grid__action__description">Novo Emitente</span>
                    </button>
                    <button (click)="deleteEmitente()" class="pkg-manager-grid__action"
                            [disabled]="!selectedRows.length">
                        <i class="ndd-font ndd-font-delete pkg-manager-grid__action__icon"></i>
                        <span class="pkg-manager-grid__action__description">Remover</span>
                    </button>
                    <button (click)="redirectOpenEmitente()" class="pkg-manager-grid__action" 
                            [disabled]="selectedRows.length != 1">
                        <i class="ndd-font ndd-font-open pkg-manager-grid__action__icon"></i>
                        <span class="pkg-manager-grid__action__description">Abrir</span>
                    </button>
                </div>
            </ng-template>

    <kendo-grid-checkbox-column></kendo-grid-checkbox-column>        
    <kendo-grid-column field="id" title="ID" width="50"></kendo-grid-column>
    <kendo-grid-column field="nomeFantasia" title="Nome Fantasia" width="450"></kendo-grid-column>
    <kendo-grid-column field="razaoSocial" title="Razão Social" width="450"></kendo-grid-column>
    <kendo-grid-column field="cnpj" title="CNPJ" width="350"></kendo-grid-column> 
    <!-- Adicionar custom pipe para formatar CNPJ. Se fosse CNPJ e CPF um componente poderia receber o valor e tratar, formatando conforme o necessário -->
    </kendo-grid>
</div>