<div class="feature-view">
    <ndd-ng-titlebar titlebarIcon="ndd-font ndd-font-file-invoice-solid" [titlebarTitle]="titulo" [titlebarInfoItems]="infoItems" [titlebarRouterToReturnOnClose]="returnRoute">
    </ndd-ng-titlebar>

    <div class="features-view-tab">
        <ndd-nota-form [formModel]="formModel" (submit)="adicionarNotaFiscal($event)"></ndd-nota-form>
    </div>
</div>

<div class="ndd-ng-spinner__spinner" *ngIf="isLoading"></div>
<div class="ndd-ng-spinner__color" *ngIf="isLoading"></div>