<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
      <add key="ConnectionStringName" value="Prova2" />

     <!--DataProvider. Somente usado em ADO.NET. As opções são: System.Data.OleDb, System.Data.SqlClient, System.Data.OracleClient, or MySql.Data.MySqlClient.--> 
    <!--<add key="DataProvider" value="System.Data.SqlClient" />-->

    <!--Provider do MySQL-->
    <add key="DataProvider" value="MySql.Data.MySqlClient" />
  </appSettings>
  <connectionStrings>
    <!--<add name="Prova2" connectionString="Data Source=(localdb)\MSSQLLocaldb;Initial Catalog=Prova2;Integrated Security=True" />-->
    <add name="Prova2" connectionString="server=localhost;Database=prova2;Uid=root;pwd=P@ssw0rd" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>