<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="connectionDB" value="DBMariana" />
  </appSettings>
  <connectionStrings>
    <!--<add name="DBMariana" connectionString="Server=localhost;Database=Prova2;Uid=root;Pwd=root;" providerName="MySql.Data.MySqlClient" />-->
    <add name="DBMariana" connectionString="Data Source=(localdb)\MSSqllocaldb;Initial Catalog=DBMariana;Integrated Security=True;Pooling=False" providerName="System.Data.SqlClient"/>
    <!--<add name="DBMariana" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST = 172.31.40.181)(PORT = 1521)))(CONNECT_DATA =(SERVICE_NAME = database)));User ID=xe/Schema;Password=ndd;Unicode=True" providerName="System.Data.OracleClient"/>-->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>