<div class="error-page">
    <div class="error-page__content">
        <div>
            <h1 class="error-page__title">404</h1>
        </div>
        <div>
            <h2 class="error-page__description">OPS, PÁGINA NÃO ENCONTRADA</h2>
        </div>
        <div>
            <p>Desculpe, a página que você está procurando pode ter sido removida, renomeada ou não existe.</p>
        </div>
        <div>
            <button class="ndd-ng-button ndd-ng-button--primary" [routerLink]="['/']">Voltar ao início</button>
        </div>
    </div>
</div>
