<div class="feature-view-tab__content">
    <div class="row">

        <div class="col-sm-12">
            
            <div class="row"> 
                <div class="col-sm-12">
                    <span class="feature-view__title">Endereço</span>
                </div>
            </div>

            <div class="row feature-view__group">
                <div class="col-sm-12">
                    <div class="row">

                        <div class="col-sm-12 col-md-6 feature-view__body">
                            <div>
                                <span class="feature-view__label">Logradouro</span>
                            </div>
                            <div class="truncate">
                                <span title="{{ endereco?.logradouro }}" class="feature-view__value">
                                    {{ endereco?.logradouro }}
                                </span>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-6 feature-view__body">
                            <div>
                                <span class="feature-view__label">Número</span>
                            </div>
                            <div class="truncate">
                                <span title="{{ endereco?.numero }}" class="feature-view__value">
                                    {{ endereco?.numero }}
                                </span>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-6 feature-view__body">
                            <div>
                                <span class="feature-view__label">Bairro</span>
                            </div>
                            <div class="truncate">
                                <span title="{{ endereco?.bairro }}" class="feature-view__value">
                                    {{ endereco?.bairro }}
                                </span>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-6 feature-view__body">
                            <div>
                                <span class="feature-view__label">Município</span>
                            </div>
                            <div class="truncate">
                                <span title="{{ endereco?.municipio }}" class="feature-view__value">
                                    {{ endereco?.municipio }}
                                </span>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-6 feature-view__body">
                            <div>
                                <span class="feature-view__label">Estado</span>
                            </div>
                            <div class="truncate">
                                <span title="{{ endereco?.estado }}" class="feature-view__value">
                                    {{ endereco?.estado }}
                                </span>
                            </div>
                        </div>
    
                        <div class="col-sm-12 col-md-6 feature-view__body">
                            <div>
                                <span class="feature-view__label">País</span>
                            </div>
                            <div class="truncate">
                                <span title="{{ endereco?.pais }}" class="feature-view__value">
                                    {{ endereco?.pais }}
                                </span>
                            </div>
                        </div>    

                    </div>
                </div>
            </div>

        </div>

    </div>
</div>