<form (ngSubmit)="onSubmit($event)" [formGroup]="formModel">
    <div class="form__container">
        <div class="row form__fieldset" >
            <div class="col-md-6" formGroupName="emitente">
                <div class="col-sm-12 form__group">
                    <span>Dados Cadastrais</span>
                </div>

                <div class="col-md-6">
                    <label>
                        <span class="form__label" [ngClass]="{'form__error': encontrarErro('emitente','nomeFantasia')}">Nome
                            Fantasia</span>
                        <span class="form__label required" [ngClass]="{'form__error': encontrarErro('emitente','nomeFantasia')}">*</span>
                    </label>
                    <div>
                        <input autocomplete="off" class="form__input" [ngClass]="{'form__error': encontrarErro('emitente','nomeFantasia')}"
                            formControlName="nomeFantasia" type="text" placeholder="Insira o nome fantasia do emitente">
                    </div>
                    <span class="form__label" *ngIf="encontrarErro('emitente','nomeFantasia')" class="form__error form__label">
                        CAMPO OBRIGATÓRIO
                    </span>
                </div>

                <div class="col-md-6">
                    <label>
                        <span class="form__label" [ngClass]="{'form__error': encontrarErro('emitente','razaoSocial')}">Razão
                            Social</span>
                        <span class="form__label required" [ngClass]="{'form__error': encontrarErro('emitente','razaoSocial')}">*</span>
                    </label>
                    <div>
                        <input autocomplete="off" class="form__input" [ngClass]="{'form__error': encontrarErro('emitente','razaoSocial')}"
                            formControlName="razaoSocial" type="text" placeholder="Insira a razão social do emitente">
                    </div>
                    <span class="form__label" *ngIf="encontrarErro('emitente','razaoSocial')" class="form__error form__label">
                        CAMPO OBRIGATÓRIO
                    </span>
                </div>

                <div class="col-md-6">
                    <label>
                        <span class="form__label" [ngClass]="{'form__error': encontrarErro('emitente','inscricaoEstadual')}">Inscricão
                            Estadual</span>
                        <span class="form__label required" [ngClass]="{'form__error': encontrarErro('emitente','inscricaoEstadual')}">*</span>
                    </label>
                    <div>
                        <input autocomplete="off" class="form__input" [ngClass]="{'form__error': encontrarErro('emitente','inscricaoEstadual')}"
                            formControlName="inscricaoEstadual" type="text" placeholder="Insira a inscrição estadual do emitente">
                    </div>
                    <span class="form__label" *ngIf="encontrarErro('emitente','inscricaoEstadual')" class="form__error form__label">
                        CAMPO OBRIGATÓRIO
                    </span>
                </div>

                <div class="col-md-6">
                    <label>
                        <span class="form__label" [ngClass]="{'form__error': encontrarErro('emitente','inscricaoMunicipal')}">Inscricão
                            Municipal</span>
                        <span class="form__label required" [ngClass]="{'form__error': encontrarErro('emitente','inscricaoMunicipal')}">*</span>
                    </label>
                    <div>
                        <input autocomplete="off" class="form__input" [ngClass]="{'form__error': encontrarErro('emitente','inscricaoMunicipal')}"
                            formControlName="inscricaoMunicipal" type="text" placeholder="Insira a inscrição municipal do emitente">
                    </div>
                    <span class="form__label" *ngIf="encontrarErro('emitente','inscricaoMunicipal')" class="form__error form__label">
                        CAMPO OBRIGATÓRIO
                    </span>
                </div>

                <div class="col-md-6">
                    <label>
                        <span class="form__label" [ngClass]="{'form__error': encontrarErro('emitente','cnpj')}">CNPJ</span>
                        <span class="form__label required" [ngClass]="{'form__error': encontrarErro('emitente','cnpj')}">*</span>
                    </label>

                    <div>
                        <input autocomplete="off" class="form__input" [ngClass]="{'form__error': encontrarErro('emitente','cnpj')}"
                            formControlName="cnpj" type="text" placeholder="Insira o cnpj do emitente">
                    </div>
                    
                    <span class="form__label" *ngIf="encontrarErro('emitente','cnpj')" class="form__error form__label">
                        CAMPO OBRIGATÓRIO
                    </span>
                </div>
            </div>
            <div class="col-md-6">
                <ndd-endereco-form [formModel]="formModel.get('endereco')"></ndd-endereco-form>
            </div>
        </div>
    </div>
    <div class="feature-view-tab__footer">
        <button class="ndd-ng-button ndd-ng-button--primary" type="submit" [disabled]="formModel.invalid">
            Enviar
        </button>
        <button class="ndd-ng-button ndd-ng-button--cancel" (click)="redirect()">
            Voltar
        </button>
    </div>
</form>